@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/reset";
@import "./base/typography";

@import "./pages/home";
@import "./themes/themes";

html {
  font-size: 18px;
  @media only screen and (max-width: 560px) {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus {
  outline: none;
}

.App {
  font-family: "Work Sans", sans-serif;
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
